<section>

    <div class="taskHeader">
        <div class="taskTitle">

            <p *ngIf="task.type==='subtask'">{{task.parent.title}}</p>
            <img *ngIf="task.type==='subtask'" src="./icons/back.svg" alt="">
            <!-- <div class="prioDot"></div> -->
            <!-- <h2>{{task?.title}} </h2> -->
            <input [disabled]="!checkPermissions('reviewer')" (change)="changeTitle('title')" class="title"
                [(ngModel)]="task.title" type="text">
            <!-- <img (click)="duedateChangeOpen=true" src="./icons/editx.svg" alt=""> -->
            <!-- <div class="typeCont">
                <p *ngIf="task.type==='subtask'">ToDo</p>
                <p *ngIf="task.type==='task'">Aufgabe</p>
            </div> -->

        </div>

        <!-- <h3>für {{task.customer.companyname}}</h3> -->
        <div class="taskMenu">
            <!-- <div class="addBtn"><img src="./icons/add.svg" alt="">Checkliste</div> -->
             <button>Abschließen</button>
            <div *ngIf="task.type==='task'" class="addBtn" (click)="addSubtask()"> <img src="./icons/add.svg" alt="">To
                Do</div>
            <div class="addBtn" (click)="commentSlide=true"><img src="./icons/add.svg" alt="">Kommentar</div>
            <div *ngIf="task.type==='task'" class="closeBtn">
                <img src="./icons/back.svg" alt="" (click)="backToCustomer()">

            </div>
            <div *ngIf="task.type==='subtask'" (click)="navigateToMainTask()" class="closeBtn">
                <img src="./icons/back.svg" alt="">
            </div>
        </div>

    </div>
    <div class="taskContent">


        <div class="taskInfoCont">


            <div class="stateLine">
                <!-- <h4>Status</h4> -->

                <div class="progressLineCont">
                    <div class="progressDot activeDot" (click)="updateTaskState('undone', 'state')">
                        <p>unbearbeitet</p>
                    </div>
                    <div class="progressDot"
                        [ngClass]="{'activeDot': task?.state ==='in_progress' || task?.state ==='under_review' || task?.state ==='done'}"
                        (click)="updateTaskState('in_progress', 'state')">
                        <p>in Bearbeitung</p>
                    </div>
                    <div class="progressDot"
                        [ngClass]="{'activeDot': task?.state ==='under_review' || task?.state ==='done'}"
                        (click)="updateTaskState('under_review', 'state')">
                        <p>in Prüfung</p>
                    </div>
                    <div class="progressDot" [ngClass]="{'activeDot': task?.state ==='done'}"
                        (click)="updateTaskState('done', 'state')">
                        <p>Erledigt</p>
                    </div>
                    <div class="progressLineInner" [style.width.%]=linewidth></div>
                    <div class="progressLine"></div>
                </div>

            </div>
            <div class="taskInfoSubCont">
                <div class="taskInfos">
                    <h4>Informationen</h4>
                    <p>Erstellt am: {{task?.created_at | date: 'dd.MM.yyyy'}}</p>
                    <div class="duedate">
                        <p>Fällig am: {{task?.due_date | date: 'dd.MM.yyyy'}}</p>
                        <button *ngIf="checkPermissions('reviewer')" [disabled]="checkPermissions('reviewer')"
                            class="changeBtn"><img (click)="duedateChangeOpen=true" src="./icons/editx.svg"
                                alt=""></button>

                        <div *ngIf="duedateChangeOpen" class="changeDueDate">
                            <h4>Fälligkeitsdatum ändern</h4>
                            <div class="inputfield">
                                <input (change)="updateDueDate('due_date', $event)" [(ngModel)]="newDueDate"
                                    type="date">
                            </div>
                            <img (click)="duedateChangeOpen=false" src="./icons/close.svg" alt="">
                        </div>
                    </div>

                    <div class="prioCont">
                        <p>Priorität:</p>
                        <div class="prio">
                            <div class="prioIcon">
                                <img *ngIf="task.priority==='low'" src="./icons/low.svg" alt="">
                                <img *ngIf="task.priority==='mid'" src="./icons/mid.svg" alt="">
                                <img *ngIf="task.priority==='high'" src="./icons/high.svg" alt="">
                            </div>


                        </div>
                        <button *ngIf="checkPermissions('reviewer')" [disabled]="checkPermissions('reviewer')"
                            class="changeBtn"><img (click)="priochangeOpen=!priochangeOpen" src="./icons/editx.svg"
                                alt=""></button>

                        <div *ngIf="priochangeOpen" class="changePrio">
                            <img (click)="priochangeOpen=false" src="./icons/close.svg" alt="">
                            <p (click)="changePrio('low', $event)">Niedrig</p>
                            <p (click)="changePrio('mid', $event)">Mittel</p>
                            <p (click)="changePrio('high', $event)">Hoch</p>
                        </div>
                    </div>
                    <h4>Zuständigkeiten:</h4>
                    <div class="assigneeCont">
                        <p>Bearbeiter: {{task.assignee?.fullname}}</p>
                        <button *ngIf="checkPermissions('reviewer')" [disabled]="checkPermissions('reviewer')"
                            class="changeBtn" (click)="assigneeChangeOpen=true"><img class="editBtn"
                                src="./icons/editx.svg" alt=""></button>
                        <div *ngIf="assigneeChangeOpen" class="changeAssignee">

                            <p *ngIf="!newAssignee">Bearbeiter ändern:</p>
                            <h3 *ngIf="newAssignee">{{newAssignee.fullname}}</h3>
                            <div *ngIf="!newAssignee" class="btnCont">
                                <button (click)="assigneeChangeOpen=false">Abbrechen</button>
                                <button (click)="memberListOpen=true">Auswählen</button>
                            </div>
                            <div *ngIf="newAssignee" class="btnCont">
                                <button (click)="newAssignee=null">Abbrechen</button>
                                <button (click)="updateAssignee()">speichern</button>
                            </div>


                        </div>
                    </div>

                    <p>Prüfer: {{task.reviewer?.fullname}}</p>

                </div>

                <div class="descriptionCont">
                    <div class="description">
                        <h4>Beschreibung</h4>
                        <textarea (change)="updateTask({description:task.description},'description')"
                            [disabled]="!checkPermissions('assignee')" name="" id=""
                            [(ngModel)]="task.description"></textarea>
                    </div>

                    <div *ngIf="task.type==='task'" class="subtasksMonitor">
                        <h3>To Do`s</h3>
                        <div class="divider"></div>
                        <div>
                            <p>Gesamt:</p>
                            <p>{{subtasks.length}}</p>
                        </div>

                        <div>
                            <p>unbearbeitet:</p>
                            <p>{{countCompletesSubtasks('undone')}}</p>
                        </div>
                        <div>
                            <p>in Bearbeitung:</p>
                            <p>{{countCompletesSubtasks('in_progress')}}</p>
                        </div>
                        <div>
                            <p>in Prüfung:</p>
                            <p>{{countCompletesSubtasks('under_review')}}</p>
                        </div>
                        <div>
                            <p>Erledigt</p>
                            <p>{{countCompletesSubtasks('done')}}</p>
                        </div>


                    </div>

                    <!-- Hier kommte dann die checkliste hin -->
                    <div ng *ngIf="task.type==='subtask'" class="checklist">
                        <div class="checklistHead">
                            <h3>Checkliste</h3>
                            <img (click)="addTodo()" src="./icons/add.svg" alt="">
                        </div>
                        <div *ngFor="let check of checkList, let index=index">
                            <div class="checklistRow">
                                <div class="inputfield">
                                    <input (change)="saveTodo(index)" placeholder="Todo hinzufügen"
                                        [(ngModel)]="checkList[index].text" type="text">
                                    <div (click)="changeIsChecked(index)" class="checkbox">
                                        <img *ngIf="check.isChecked===true" src="./icons/done.svg" alt="">
                                    </div>
                                </div>


                            </div>

                        </div>

                        <div class="divider"></div>
                        <div class="counter">
                            <p>{{countCompletedTodos()}}</p> / <p>{{checkList.length}}</p>
                        </div>
                    </div>

                </div>


            </div>



        </div>

        <div class="subtasksCont">
            <div class="sidabarNav">
                <div *ngIf="task.type==='task'" [ngClass]="{'btnHlgt': sidebarKey==='subtasks'}"
                    (click)="changeSidebarContent('subtasks')">
                    <h4>To Do`s</h4>
                </div>
                <div [ngClass]="{'btnHlgt': sidebarKey==='comments'}" (click)="changeSidebarContent('comments')">
                    <h4>Kommentare</h4>
                </div>
                <div [ngClass]="{'btnHlgt': sidebarKey==='logs'}" (click)="changeSidebarContent('logs')">
                    <h4>Logbuch</h4>
                </div>

            </div>
            <div *ngIf="sidebarKey==='comments'" class="sidebarList">

                <div class="" *ngFor="let comment of sortedComments, let index=index">
                    <div class="commentsRow">
                        <div class="commentInfo">
                            <h4>{{comment.creator.fullname}}</h4>
                            <p *ngIf="globalservice.isToday(comment.created_at); else showDate">{{comment.created_at |
                                date: 'HH:mm'}} Uhr</p>
                            <ng-template #showDate>{{comment.created_at | date: 'dd.MM.yy : HH:mm'}} Uhr</ng-template>

                        </div>
                        <div class="divider"></div>
                        <textarea (change)="updateComment(index)" name="" [(ngModel)]="comment.text" id=""
                            [disabled]="comment.creator.id !== user.id "></textarea>
                        <img (click)="deleteComment(index)" *ngIf="comment.creator.id===user.id" src="./icons/trash.svg"
                            alt="">
                    </div>
                </div>



            </div>

            <div *ngIf="sidebarKey==='logs'" class="sidebarList">

                <div *ngFor="let log of task.log">
                    <div class="logCard">
                        <p>{{log.logged_at | date: 'dd.MM.yyyy : HH:mm'}} Uhr</p>
                        <div class="divider"></div>
                        <h4>{{log.log}}</h4>
                        <p>{{log.newState}}</p>
                        <p>Änderung durch: {{log.updated_by.fullname}}</p>
                    </div>



                </div>



            </div>

            <div *ngIf="sidebarKey==='subtasks' && task.type==='task'" class="sidebarList">

                <div *ngFor="let subtask of subtasks, let index=index">
                    <div (click)="openSubtask(index)" class="subtaskCard">
                        <div class="titleCont">
                            <div class="title">

                                <h4>{{subtask.title}}</h4>
                            </div>

                            {{subtask.created_at | date: 'dd.MM.yyyy'}}
                        </div>

                        <div class="divider"></div>
                        <div class="subtaskInfo">
                            <!-- <p>{{subtask.description}}</p> -->
                            <p> Bearbeiter: {{subtask.assignee.fullname}}</p>
                            <p> Prüfer: {{subtask.reviewer.fullname}}</p>
                        </div>
                        <div class="subtaskState">
                            <div> Fällig am:{{subtask.due_date | date: 'dd.MM.yyyy' }}</div>
                            <div class="stateCont">
                                <img *ngIf="subtask.priority==='low'" src="./icons/low.svg" alt="">
                                <img *ngIf="subtask.priority==='mid'" src="./icons/mid.svg" alt="">
                                <img *ngIf="subtask.priority==='high'" src="./icons/high.svg" alt="">
                                <img *ngIf="subtask.state==='undone'" src="./icons/undone.svg" alt="">
                                <img *ngIf="subtask.state==='in_progress'" src="./icons/progress.svg" alt="">
                                <img *ngIf="subtask.state==='under_review'" src="./icons/review.svg" alt="">
                                <img *ngIf="subtask.state==='done'" src="./icons/done.svg" alt="">

                            </div>

                        </div>

                    </div>



                </div>

            </div>

        </div>
    </div>

    <!-- <div class="taskFormWrapper slideOut" [ngClass]="{'slideIn': taskWrapperOpen}">
        <app-taskwrapper></app-taskwrapper>
    </div> -->
    <div class="memberListWrapper slideOut borderLeft" [ngClass]="{'slideIn': memberListOpen}">
        <app-memberlist></app-memberlist>
    </div>

    <div class="commentInputWrapper" [ngClass]="{'commentSlide': commentSlide}">
        <img (click)="commentSlide=false" src="./icons/close.svg" alt="">
        <div class="commentCont">
            <p>Kommentar</p>
            <textarea #commentInput="ngModel" [(ngModel)]="comment.text" name="comment"
                placeholder="Schreibe ein Kommentar" id=""></textarea>
            <img (click)="createComment()" src="./icons/send.svg" alt="">
        </div>
    </div>
</section>