section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.taskHeader {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    gap: 24px;
    border-bottom: solid 0.5px var(--border);
    position: relative;
}

.taskTitle {
    display: flex;
    align-items: center;
    gap: 24px;

}

.taskMenu {
    display: flex;
    gap: 24px;
}

.closeBtn {
    padding: 12px;
    display: flex;
    cursor: pointer;
    border: solid 0.5px var(--border);
    border-radius: 4px;

    >img {
        width: 24px;
    }
}

.taskContent {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;

}

.taskInfoCont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 56px;

}

.taskInfoSubCont {
    width: 100%;
    height: 100%;
    display: flex;
}

.stateLine {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.progressLineCont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.progressLine {
    width: 100%;
    min-height: 0.5px;
    position: absolute;
    left: 0;
    background-color: var(--box);
}

.progressLineInner {

    min-height: 3px;
    position: absolute;
    left: 0;
    background-color: var(--box);
}

.progressDot {
    width: 110px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: solid var(--box);
    background-color: white;
    z-index: 1;
    cursor: pointer;
}

.activeDot {
    color: white !important;
    background-color: var(--box) !important;
}

.lineDescription {
    width: 100%;
    display: flex;
    justify-content: space-between;

    >p {}
}

.taskInfos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.duedate {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;

    >img {
        width: 16px;
        cursor: pointer;
    }
}

.changeDueDate {
    position: absolute;
    top: 0;
    left: 160px;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 32px;
    border: solid 0.5px var(--border);
    border-radius: 4px;
    background-color: white;
    z-index: 1;
    >img{
        width: 12px;
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
    }
}

.prioCont {
    display: flex;
    align-items: center;
    gap: 16px;
}

.prio {

    border-radius: 100px;
    position: relative;
    cursor: pointer;

    >img {
        width: 50px;
    }
}

.changePrio {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: -102px;
    padding: 12px 0;
    border: solid 0.5px var(--border);
    border-radius: 4px;
    background-color: white;

    >p {
        width: 100%;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: var(--listrow-hover);
        }
    }
}

.descriptionCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 32px;
    align-items: flex-end;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.commentInputWrapper {
    // width: 200px;
    // height: 200px;
    border: solid 0.5px var(--border);
    border-radius: 4px;
    background-color: white;
    padding: 56px;
    position: absolute;
    top: 90px;
    right: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    transform: translateX(100%);

    >img {
        width: 16px;
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
    }
}

.commentCont {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;

    >p {
        width: 100%;
    }

    >img {
        width: 16px;
        cursor: pointer;
    }
}



.subtasksCont {
    width: 100%;
    max-width: 500px;

    height: calc(100vh - 268.5px);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;

    border-left: solid 0.5px var(--border);
    overflow: hidden;
}

.sidabarNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;

    >div {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--box-light);
        border-radius: 4px;
        cursor: pointer;
    }
}

.btnHlgt {
    color: white !important;
    background-color: var(--box) !important;
}

.sidebarList {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
}

.commentsRow {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--box-light);
    position: relative;

    >textarea {
        border: none;
        padding: 0;
        height: 50px;
    }

    >img {
        width: 18px;
        position: absolute;
        bottom: 12px;
        right: 12px;
    }
}

.commentInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--box-light);
    padding: 12px;
    border-radius: 4px;
}

.subtaskCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--box-light);
    position: relative;
    cursor: pointer;

}

.titleCont {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.subtaskInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.subtaskState {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.priority {
    width: 24px;
    height: 24px;
    border-radius: 100px;
}

.stateCont {
    display: flex;
    align-items: center;
    gap: 16px;

    >img {
        width: 24px;


    }
}

.subtasksMonitor {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: solid 0.5px var(--border);
    border-radius: 4px;
    padding: 12px;

    >div {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.commentSlide {
    transform: translateX(0) !important;
}