section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.placeholder {
    height: 40px;
}

.taskHeader {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    gap: 24px;
    border-bottom: solid 0.5px var(--border);
    position: relative;
}

.taskTitle {
    display: flex;
    align-items: center;
    gap: 24px;

    >img {
        width: 20px;
    }

    >p {
        font-size: 24px;
    }

}

.title {
    width: 400px;
    font-size: 24px;
}

textarea {
    max-width: unset;

}


.closeText {
    display: flex;
    align-items: center;
    gap: 16px;

    >img {
        width: 30px;
    }
}


.taskMenu {
    display: flex;
    gap: 24px;
}



.taskContent {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;

}

.taskInfoCont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
    gap: 16px;
    position: relative;

}

.taskInfoSubCont {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 32px;



}

.stateLine {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.progressLineCont {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.progressDot {
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 0.5px var(--box);
    border-top: none;
    border-right: none;
    background-color: white;

    cursor: pointer;
}

.activeDot {
    color: white !important;
    background-color: var(--box) !important;

}


.taskInfos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.memberList {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-start;
    gap: 2px;

}

.subtaskCont {
    width: 100%;
}

.memberInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.description {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    >textarea {
        height: 200px;
    }
}

.sidebarCont {
    width: 100%;
    max-width: 500px;
    height: calc(100vh - 268.5px);
}


.subheadline {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--border);

    >img {
        width: 16px;
    }
}

.taskTemplateDialog {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    border: var(--borderstyle);
    border-radius: var(--radius);
    padding: 56px;

    z-index: 1;
}

.dialogCont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 24px;
}

.dialogContFieldCont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 12px;
    overflow-y: scroll;
}

.subtasksCont {
    display: flex;
    flex-direction: column;
    gap: 8px;
}