.activityWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
}

.wrapperHeadline {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    position: relative;

    >img {
        width: 16px;
        cursor: pointer;
    }
}

.title {
    font-size: 24px;
    font-weight: 400;
}

.titleCont {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 12px;

    >img {
        width: 32px;
        cursor: pointer;
    }
}

.activityInfos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    background-color: var(--box-light);
    border-radius: 4px;
    padding: 12px;
    position: relative;
    cursor: pointer;

}


.changeDate {
    width: 100%;
    width: 300px;
    padding: 32px 64px;
    position: absolute;
    top: 50px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 32px;
    border: solid 0.5px var(--border);
    border-radius: 4px;
    background-color: white;
    z-index: 1;

    >img {
        width: 12px;
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
    }


    input {
        border-radius: 4px;
        padding: 8px;
        border: solid 0.5px var(--border);
    }


}

.editType {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 16px;
    padding: 24px;
    background-color: white;
    border: solid 1px var(--border);
    border-radius: 4px;
    z-index: 1;

    :nth-child(1) {
        >img {
            width: 16px;

        }

        >p {
            font-size: 18px;
        }
    }

    >div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >img {
            width: 40px;
            cursor: pointer;
        }
    }


}