<section>
    
      <app-listmenu [next]="next" [searchField]="false" [timeFilter]="true" [list]="'activities'" [fields]="activityFields" [totalCount]="totalCount" (searchChanges)="changeList($event)"></app-listmenu>
  
    <div class="listMainCont">
        <div class="listContainer">
            <div class="listHeadline">
                <p *ngFor="let headline of activityFields">{{headline.displayName}}</p>
            </div>


            <div class="divider"></div>
            <div class="list">
                <h4 *ngIf="activities.length===0">- keine Aktivitäten gefunden -</h4>


                <div class="listRow" *ngFor="let activity of activities let index=index" (click)="openActivity(index)" [ngClass]="{'rowhighlight': activity.id===activityID}">
<p>{{activity.id}} - {{activityID}}</p>

                    <div class="typeCont">
                        <img [src]="dataservice.activityTypes[activity.type].path" alt="">
                        <p>{{dataservice.activityTypes[activity.type].label}}</p>
                    </div>

                    <p>{{activity?.date | date: 'dd.MM.yyyy'}}</p>

                    <p>{{activity?.title}}</p>
                    <p>{{activity?.created_by?.profile?.fullname}}</p>
                    <p>{{activity?.customer?.companyname}}</p>
                    <p>{{activity?.contact?.name}}</p>

                </div>
            </div>
        </div>

    </div>







    <div class="formWrapper slideOut" [ngClass]="{'slideIn': activityOpen}">
        <div class="activityWrapper">
            <div class="wrapperHeadline">
                <div class="titleCont">
                    <img (click)="editTypeOpen=true" [src]="dataservice.activityTypes[activity.type]?.path"
                        alt="">
                    <input class="title" type="text" [(ngModel)]="activity.title"
                        (change)="editActivity('title')">

                </div>
                <img (click)="closeActivity()" src="./icons/close.svg" alt="">
                <!-- editType -->
                <div class="editType" *ngIf="editTypeOpen">
                    <div>
                        <p>Typ ändern</p>
                        <img (click)="editTypeOpen=false;" src="./icons/close.svg" alt="">
                    </div>
                    <div class="divider"></div>
                    <div>

                        <img (click)="editType('call')" src="./icons/phone.svg" alt="">
                        <img (click)="editType('email')" src="./icons/mail.svg" alt="">
                        <img (click)="editType('invite')" src="./icons/invite.svg" alt="">
                        <img (click)="editType('video')" src="./icons/invite.svg" alt="">

                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="activityInfos">
                <div class="imgCont" (click)="editDateOpen=true">
                    <img src="./icons/duedate.svg" alt="">
                    <h4>{{activity.date | date: 'dd.MM.yy - hh:mm' }} Uhr</h4>

                    <!-- Edit Date -->
                    <div *ngIf="editDateOpen" class="changeDate">
                        <h4>Datum ändern</h4>
                        <input (change)="editActivity('date')" [(ngModel)]="activity.date" type="datetime-local">
                        <img (click)="editDateOpen = false; $event.stopPropagation()" src="./icons/close.svg" alt="">
                    </div>
                    <!--  -->
                </div>
                <div class="imgCont" (click)="openContactList()">
                    <img src="./icons/contactprofile.svg" alt="">
                    <p>{{activity?.contact?.name}}</p>
                </div>
            </div>
            <div class="inputCont">
                <h4>Beschreibung</h4>
                <textarea class="txtContHeight" name="description" [(ngModel)]="activity.description" id=""
                    (change)="editActivity('description')"></textarea>
            </div>
            <div *ngIf="editInvalid" class="errorTxt">
                <p>*Titel und Beschreibung dürfen nicht leer sein</p>
            </div>

        </div>
        <!-- <div class="formWrapper slideOut" [ngClass]="{'slideIn': contactListOpen===true}">
            <app-contactlistwrapper></app-contactlistwrapper>
        </div> -->
    </div>
</section>