section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.profileCont {
    // background-color: var(--box);
    width: 100%;
    min-width: fit-content;
    max-width: 50%;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    padding: 8px;
    transition: transform 0.3s ease-in-out;
  

    >img {
        width: 32px;
    }

    // &:hover {
    //     transform: scale(1.05);
    // }
}

.navLogoCont {
    display: flex;
    align-items: center;
    gap: 56px;
}

nav {
    display: flex;
    align-items: center;
    gap: 24px;

    >div {
        >p {

            font-weight: 400;
        }

    }

}

.navlink {
    cursor: pointer;
}

.date {
    display: flex;

    align-items: flex-end;
    gap: 4px;
}
.widthInput{
    max-width: 300px !important;
    height: 30px;
    >img{
        width: 16px;
    }
}
.alertCont {
    cursor: pointer;
    >img {
        width: 20px;
    }
}

.messageWrapper {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    max-width: 500px;
    height: 100%;
    border-left: solid 1px var(--border);
    background-color: white;
    z-index: 4;
}