section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.profileCont {
    // background-color: var(--box);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 8px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    >img {
        width: 32px;
    }

    // &:hover {
    //     transform: scale(1.05);
    // }
}

.navLogoCont{
    display: flex;
    align-items: center;
    gap: 56px;
}

nav {
    display: flex;
    align-items: center;
    gap: 24px;

    >div {
        >p {
           
            font-weight: 400;
        }

    }

}

.navlink{
    cursor: pointer;
}

.date{
    display: flex;
 
    align-items: flex-end;
    gap: 4px;
}