<section>
    <div class="navLogoCont">

        <h1>CRM</h1>
        <nav>
            <div class="navlink" (click)="globalservice.navigateToPath(['main','dashboard'])">

                <p>Dashboard</p>
            </div>
            <div class="navlink" (click)="globalservice.navigateToPath(['main','customers'])">

                <p>Kunden</p>
            </div>
            <div class="navlink" (click)="globalservice.navigateToPath(['main','board'])">

                <p>Aufgaben</p>
            </div>
               <div class="navlink" (click)="globalservice.navigateToPath(['registration'])">

                <p>Adminbereich</p>
            </div>
        </nav>

    </div>

    <div class="profileCont">
        <div class="inputfield widthInput">
            <input type="text" placeholder="Suche" [(ngModel)]="searchInput" (change)="globalSearch()">
            <img src="./icons/search.svg" alt="">
        </div>
        <div class="alertCont" (click)="openSystemMessages()">
            <img src="./icons/ring.svg" alt="">
            <div *ngIf="globalservice.isNewSystemMessage" class="redDot"></div>
        </div>

        <p>{{user?.fullname}}</p>
       
        <div class="date">
            <p>{{date | date: 'HH:mm'}} Uhr</p>
            <!-- <p>{{date | date: 'dd.MM.yyyy'}}</p> -->
        </div>
 <img (click)="logoutUser()" src="./icons/logout.svg" alt="">
    </div>
    <div class="messageWrapper slideOut" [ngClass]="{'slideIn': globalservice.messageWrapperOpen}">
        <app-messagewrapper></app-messagewrapper>
    </div>
</section>