section {
    width: 100%;
    height: calc(100vh - 190px);
    display: flex;
    flex-direction: column;
    // gap: 24px;

}

.contactHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    padding: 24px;
    // border-bottom: solid 0.5px var(--border);
}

.ContactTitleCont {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4px;

    >img {
        width: 16px;
        cursor: pointer;
    }
}

.contactTitle {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    >img {
        width: 16px;
    }
}

.tabs {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 16px;

    .tab {

        border: solid 1px var(--border);
        border-radius: 4px;
        padding: 6px;
        cursor: pointer;
    }
}

.tabActive {
    background-color: var(--border) !important;
    color: white !important;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    >img {
        width: 24px;
        cursor: pointer;
    }
}

.actionBtns {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 8px;

    >a {
        >img {
            width: 28px;
        }



    }

}

.title {
    font-size: 28px;
    font-weight: 400;
}

.contactCont {
    width: 100%;
    height: 100%;
    display: flex;

}

.contactInfos {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border-right: solid 0.5px var(--border);
}

.infocont {
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.newsletter {
    display: flex;
    align-items: center;
    gap: 8px;
}



.contact {
    display: flex;
    align-items: center;
    gap: 8px;

    >img {
        width: 16px;
    }
}

.acitvityForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 500px;
}

.typeChoices {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;

    .typeBtn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        // background-color: var(--box);
        border: solid 1px var(--border);

        border-radius: 4px;
    }
}

// .contactBoard{
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     gap: 32px;
//   padding: 24px;
// }

// .activityListCont {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     gap: 12px;
  
// }

// .activityListHeadline {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     gap: 24px;
//     padding: 0 12px;



//     >p {
//         width: 100%;

//     }
// }

// .activityList {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     gap: 8px;
// }


// .listrow {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     gap: 24px;
//     align-items: center;
//     cursor: pointer;
//     background-color: var(--box-light);
//     border-radius: 4px;
//     padding: 14px;



//     >p {
//         width: 100%;

//     }

// }

// .typeCont {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     gap: 16px;

//     >img {
//         width: 24px;
//     }
// }

.activities{
    width: 100%;
    height: calc(100vh - 290px);
 
}