section {
    width: 100%;
    height: 100%;
    display: flex;
    
    overflow: hidden;

}

.sidebar {
    width: 100%;
    max-width: 400px;
    height: calc(100vh - 83px);
    border-right: solid 0.5px var(--border);
    padding: 16px 32px;
}

.listCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 32px;
}

.menubar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchField {
    width: 600px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.filterContainer {
    height: 40px;
    box-sizing: border-box;
    padding: 0 12px;
    border-radius: 4px;
    border: solid 0.5px var(--border);
    position: relative;
}

.searchFilter {

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-right: 16px;
    gap: 8px;
    cursor: pointer;

    >img {
        width: 16px;
        height: 16px;
        transition: transform 0.5s ease-in-out;
    }

    >p {
        width: 80px;
        display: flex;
        justify-content: flex-start;

        font-size: 12px;
        color: var(--font-light);
        box-sizing: border-box;
        // padding: 8px;
        margin-top: 1px;

    }
}

.rotate {
    transform: rotate(90deg);
}

.searchOptions {
    position: absolute;
    top: 50px;
    left: 0;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    height: fit-content;
    box-sizing: border-box;
    padding: 30px;
    border: solid 0.5px var(--border);
    background-color: white;
    border-radius: 5px;

    >div {
        width: 100%;
        box-sizing: border-box;
        padding: 8px;
        border-radius: 4px;

        &:hover {
            background-color: var(--listrow-hover);
        }

        >p {
            font-size: 14px;
            cursor: pointer;
        }
    }
}



.customerListCont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.customerList {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 6px;

}



.listHeadline {
    width: 100%;
    font-weight: 400;
    border: none !important;
    background-color: white !important;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    font-size: 14px;

    >p {
        width: 100%;
        display: flex;

    }
}

.divider {
    width: 100%;
    min-height: 1.5px;
    background-color: var(--border);
    margin-bottom: 16px;
}

.customerListRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    font-size: 14px;
    // border: solid 0.5px var(--border);
    background-color: var(--listrow-light);
    cursor: pointer;

    >p {
        width: 100%;
        display: flex;

    }

    &:hover {
        background-color: var(--listrow-hover) !important;
        border-color: white;
    }
}

.rowBGColor {
    background-color: var(--listrow) !important;

}

.formWrapper {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 32px;
    background-color: white;
    border-left: solid 0.5px var(--border);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.slidein {
    transform: translateX(0) !important;
}

