<section>
    <div class="sidebar">
        <h3>Kundenportfolio</h3>
        <!-- <button (click)="fillDB()">Dummys laden</button> -->
    </div>
    <div class="listCont">

        <div class="customerListCont">

            <app-listmenu [next]="next" [list]="'customers'" [fields]="customerFields"></app-listmenu>

            <div class="listHeadline">
                <p *ngFor="let headline of customerFields">{{headline.displayName}}</p>
            </div>
            <div class="divider"></div>
            <div class="customerList">

                <div *ngIf="isloading">
                    <p>Kundendaten werden geladen...</p>
                </div>
                <div *ngIf="!isFound && isSearch">
                    <p>Keine Kunden gefunden</p>
                </div>
                <div *ngFor="let customer of customers, let index=index">

                    <!-- <div class="customerListRow" [ngClass]="{'rowBGColor': index % 2 !== 0}"
                    (click)="globalservice.navigateToPathID('main/singlecustomer',customer.id )">
                    
                    <p *ngFor="let field of customerFields ">{{customer?.[field.fieldName]}}</p>
                </div> -->
                    <div class="customerListRow" (click)="openCustomerFile(index)">

                        <p *ngFor="let field of customerFields ">{{customer?.[field.fieldName]}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="formWrapper" [ngClass]="{'slidein': globalservice.customerWrapperOpen}">
        <h3>Kunden anlegen</h3>

        <app-customerwrapper></app-customerwrapper>
    </div>

</section>