<section>
    <div class="sidebar">
        <h3>Kundenportfolio</h3>
        <!-- <button (click)="fillDB()">Dummys laden</button> -->
    </div>
    <div class="listCont">
            <app-listmenu [next]="next" [searchField]="true" [timeFilter]="false" [list]="'customers'"
                    [fields]="customerFields"></app-listmenu>
        <div class="listMainCont">
            <div class="listContainer">
                <div class="listHeadline">
                    <p *ngFor="let headline of customerFields">{{headline.displayName}}</p>
                </div>
                <div class="divider"></div>
                <div class="list">

                    <div *ngIf="isloading">
                        <p>Kundendaten werden geladen...</p>
                    </div>
                    <div *ngIf="!isFound && isSearch">
                        <p>Keine Kunden gefunden</p>
                    </div>
                    <div *ngFor="let customer of customers, let index=index">

                        <!-- <div class="customerListRow" [ngClass]="{'rowBGColor': index % 2 !== 0}"
                    (click)="globalservice.navigateToPathID('main/singlecustomer',customer.id )">
                    
                    <p *ngFor="let field of customerFields ">{{customer?.[field.fieldName]}}</p>
                </div> -->
                        <div class="listRow" (click)="openCustomerFile(index)">

                            <p *ngFor="let field of customerFields ">{{customer?.[field.fieldName]}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="formWrapper" [ngClass]="{'slidein': globalservice.customerWrapperOpen}">
        <h3>Kunden anlegen</h3>

        <app-customerwrapper></app-customerwrapper>
    </div>

</section>