section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    height: calc(100vh - 229px);
    position: relative;
}

.taskListHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.listBtns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

// .divider {
//     min-height: 2px;
// }

.taskList {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
}

.taskRow {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    cursor: pointer;

    &:hover {
        border-color: white;
        background-color: var(--listrow-hover);
    }
}

.titlePrio {
    min-width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    >p {
        font-size: 20px;
    }
}

.taskRowleft {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    align-items: flex-start;
}

.taskRowRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    align-items: flex-end;
}

.prioIcon {
    >img {
        width: 30px;
        cursor: pointer;
    }
}

.subtaskCountCont {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 16px;

    >p {
        font-size: 16px;
    }
}

.subtaskCount {
    display: flex;

    >p {
        font-size: 16px;
    }
}

.countLine {
    width: 100%;
    height: 6px;
    max-width: 300px;
    border: solid 0.5px var(--border);
    border-radius: 100px;
    position: relative;
}

.countLineInner {
    height: 100%;
    background-color: var(--border);

}