section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 56px;
    height: calc(100vh - 229px);
    position: relative;
}

.taskListHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.listBtns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

// .divider {
//     min-height: 2px;
// }

.taskList {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
    
.tasklistHeadline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 12px ;
    >p{
        width: 100%;
    }
}
}
.taskRow {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: var(--box-light);
    cursor: pointer;
   >p{
        width: 100%;
    }

    &:hover {
        border-color: white;
        background-color: var(--listrow-hover);
    }
}

.titlePrio {
    min-width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    >p {
        font-size: 20px;
     
    }
}

.taskRowleft {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    align-items: flex-start;
}

.taskRowRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    align-items: flex-end;
}

.prioIcon {
    width: 100%;
    >img {
        width: 30px;
        cursor: pointer;
    }
}

.subtaskCountCont {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 16px;

    >p {
        font-size: 16px;
    }
}

.subtaskCount {
    display: flex;

    >p {
        font-size: 16px;
    }
}

.countLine {
    width: 80px;
    height: 6px;
    max-width: 300px;
    border: solid 0.5px var(--border);
    border-radius: 100px;
    position: relative;
}

.countLineInner {
    height: 100%;
    background-color: var(--border);

}

.checkbox {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--border);
  border-radius: 4px;

  >img {
    width: 16px;
  }
}