<section>
    <div class="contactsHeader">
        <h2>Kontakte</h2>
        <div class="menubar">
            <img src="./icons/contact.svg" alt="">
        </div>
    </div>
    <div class="divider"></div>
    <div class="contactCont">
        <div class="contactList">

            <div class="inputfield">
                <input type="text" [(ngModel)]="searchValue"
                    placeholder="Kontakt suchen ( Name, E-Mail oder Abteilung )" (input)="searchContact()">
            </div>
            <div class="listCont">
                <h4 *ngIf="contacts.length===0">keine Kontakte gefunden</h4>
                <div class="contactCard" *ngFor="let contact of contacts let index=index" (click)="openContact(index)">
                    <img src="./icons/profile.svg" alt="">
                    <div class="infos">
                        <p>{{contact?.name}}</p>
                        <div class="divider"></div>
                        <p>{{contact?.department}}</p>

                        <div class="contact">
                            <img src="./icons/mail.svg" alt="">
                            <p>{{contact?.email}}</p>
                        </div>

                        <div class="contact">
                            <img src="./icons/phone.svg" alt="">
                            <p>{{contact?.phone}}</p>
                        </div>
                    </div>



                </div>

            </div>

        </div>
        <div class="verticaldivider"></div>


        <div class="singleContactCont">
            <router-outlet></router-outlet>

        </div>
    </div>
</section>