section {
    width: 100%;
    height: calc(100vh - 178px);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}


.contactsHeader {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.menubar {

    display: flex;
    gap: 24px;

    >img {
        width: 24px;
    }
}

.contactCont {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 24px;
}



.contactList {
    width: 100%;
    max-width: 500px;
    height: calc(100vh - 340px);
    display: flex;
    flex-direction: column;
    gap: 12px;


}

.listCont {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: scroll;
}

.contactCard {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    background-color: var(--box-light);
    border-bottom: 4px;
    padding: 24px;

    border-radius: 4px;
    cursor: pointer;

    >p {
        font-size: 18px !important;
    }

    >img {
        width: 40px;
    }


}

.infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;

    :nth-child(1) {
        font-size: 16px;
        font-weight: 400;
    }

}

// .top{
//     align-items: flex-start !important;
// }

.icon {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--box);
    border-radius: 100px;

    >img {
        width: 100%;

    }
}

.contact {
    display: flex;
    align-items: center;
    gap: 8px;

    >img {
        width: 16px;
    }
}

.singleContactCont {
    width: 100%;
    height: 100%;
}



@media(max-width: 1600px) {
    .contactList {
        max-width: 380px;
    }
}