<section class="listSection">
    <!-- <div class="listHeader">
        <h2>Kontakte</h2>
        <div class="menubar">
            <div class="inputfield">
                <input type="text" [(ngModel)]="searchValue"
                    placeholder="Kontakt suchen ( Name, E-Mail oder Abteilung )" (input)="searchContact()">
                 
            </div>
          
        </div>
    </div> -->

  <app-listmenu [next]="next" [list]="'contacts'" [searchField]="true" [fields]="contactTypes"></app-listmenu>
    <div class="listMainCont">
        <div class="listContainer">
            <div class="listHeadline">
                <p *ngFor="let headline of contactFields">{{headline.label}}</p>
            </div>
  

            <div class="divider"></div>
            <div class="list">
                <h4 *ngIf="contacts.length===0">keine Kontakte gefunden</h4>
 
                <div class="listRow" *ngFor="let contact of contacts let index=index"
                    (click)="openContact(index)">
                    <p *ngFor="let key of contactFields">{{contact?.[key.field]}}</p>
                </div>
            </div>

        </div>

    </div>
</section>