section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regBtn{
    position: absolute;
    top: 56px;
    right: 56px;
    cursor: pointer;
}
