section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    padding: 24px;
}

.regCont {
    width: 450px;
    height: 440px;


}

.resetPw {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border: solid 0.5px var(--border);
    border-radius: 4px;
    padding: 32px;

}

.foundMembers {
    position: absolute;
    top: 50px;
    background-color: white;
    width: 100%;
    height: fit-content;
    border: solid 0.5px var(--border);
    border-radius: 4px;
    padding: 12px;

}

.foundMembersRow {
    width: 100%;
    display: flex;
    align-items: center;

    gap: 8px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;

    >img {
        width: 20px;
    }

    &:hover {
        background-color: var(--listrow-hover);
    }
}

.confirmCont {
    width: 100%;

    >p {
        width: 100%;
      text-align: center;

        >span {
            font-size: 20px;
            color: var(--border);
        }
    }
}

.updateFields{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gap{
    gap: 16px;
}