section {
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.headline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >img{
        width: 16px;
    }
}
.searchList {
    width: 100%;
    height: calc(100vh - 194px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.listrow {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    background-color: var(--box-light);
    border-bottom: 4px;
    padding: 24px;
    margin-top: 12px;
    cursor: pointer;
    border-radius: 4px;

    >p {
        font-size: 18px !important;
    }

    >img {
        width: 40px;
    }

   
}

.infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;

    :nth-child(1) {
        font-size: 16px;
        font-weight: 400;
    }

}

// .top{
//     align-items: flex-start !important;
// }

.icon {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--box);
    border-radius: 100px;

    >img {
        width: 100%;

    }
}

.contact {
    display: flex;
    align-items: center;
    gap: 8px;

    >img {
        width: 16px;
    }
}

.closeBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    >img {
        width: 14px;
        cursor: pointer;
    }
}