section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

}



// div {
//     border: solid 0.3px;
// }

.sidebar {
    position: absolute;
    width: 100px;
    left: -100px;
    height: 100%;
    border-right: solid 0.5px var(--border);
    transition: left 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);

    // &:hover {

    //     width: 240px;
    // }
}

.sidebarIn {

    left: 0px !important;
}

.sidebarOut {
   width: calc(100% - 100px) !important;
}

// .placeholder {
//     //   width: 120px;
//     //     height: 100%;
// }

.mainWindow {
    width: 100%;
    height: 100%;

    display: flex;
    // flex-direction: column;
    position: relative;
}

.header {
    width: 100%;
    min-height: 80px;
    border-bottom: solid 2px var(--border);

}

.content {
    position: absolute;
    right: 0;
    height: calc(100vh - 80px);
    width: 100%;
    transition: width 0.3s ease-in-out;
    // padding: 24px;
    overflow: hidden;
   
}

.globalSearchWrapper {
    position: absolute;
    top: 80px;
    right: 0;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-left: solid 0.5px var(--border);
    // transition: transform 0.3s ease-in-out;
    // transform: translate(100%);
}

// .overlay{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// background-color: rgba(255, 255, 255, 0.722);

// }

.confirmation {
    position: absolute;
    right: 56px;
    bottom: 56px;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;

    gap: 4px;
    padding: 12px 24px;
    background-color: white;
    border: solid 1px var(--border);
    border-radius: 4px;
    transition: transform 0.5s ease-in-out;
    z-index: 10;

    .confirmState {
        width: 100%;
        display: flex;
        justify-content: space-between;

        >img {
            width: 24px;
        }

        >p {
            font-size: 20px;
            font-weight: 400;
        }
    }

    >span {
        margin-top: 8px;
        font-size: 16px;
    }

}

.slideOutRight {
    transform: translateX(120%);
}

.slideInRight {
    transform: translateX(0%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    // background-color: rgba(255, 255, 255, 0.358);
    background-color: rgba(0, 0, 0, 0.245);
    // backdrop-filter: blur(1px);
}