<!-- <section>

    <div class="sidebar">

    </div>
    <div class="mainWindow">
        <div class="header">
            <app-header></app-header>
        </div>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>



</section> -->

<section>
    <div class="header">
        <app-header></app-header>
    </div>

    <div class="mainWindow">
        <!-- <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div> -->
        <div class="placeholder"></div>
        <div class="content">
            <router-outlet></router-outlet>

        </div>
    </div>


    <!-- <div class="overlay"></div> -->
    <div [ngClass]="{'slideIn': globalservice.searchWrapperOpen===true}" class="globalSearchWrapper slideOut">
        <app-globalsearchwrapper></app-globalsearchwrapper>
    </div>
        <div class="memberListWrapper  slideOut borderLeft" [ngClass]="{'slideIn': globalservice.memberListOpen}">
        <app-memberlist [many]="true"></app-memberlist>
    </div>

    <div class="confirmation slideOutRight" [ngClass]="{'slideInRight': showConfrim}">
        <!-- <p>{{confirmation}}</p> -->
        <div class="confirmState">
            <p>Aktion erfolgreich</p>
            <img src="./icons/done.svg" alt="">
        </div>

        <div class="divider"></div>
        <span>{{confirmation}}</span>
    </div>
</section>