<!-- <section>

    <div class="sidebar">

    </div>
    <div class="mainWindow">
        <div class="header">
            <app-header></app-header>
        </div>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>



</section> -->

<section>
    <div class="header">
        <app-header></app-header>
    </div>

    <div class="mainWindow">
        <!-- <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div> -->
        <div class="placeholder"></div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>


<!-- <div class="overlay"></div> -->
</section>