
<section>
    <div class="header">
        <app-header></app-header>
    </div>

    <div class="mainWindow">
        <div class="sidebar" [ngClass]="{'sidebarIn': globalservice.sidebarOpen}">
            <app-sidebar></app-sidebar>
        </div>
        <!-- <div class="placeholder"></div> --> 
        <div class="content" [ngClass]="{'sidebarOut': globalservice.sidebarOpen}">
            <router-outlet></router-outlet>

        </div>
    </div>


    <!-- <div class="overlay"></div> -->
    <div [ngClass]="{'slideIn': globalservice.searchWrapperOpen===true}" class="globalSearchWrapper slideOut">
        <app-globalsearchwrapper></app-globalsearchwrapper>
    </div>
        <div class="memberListWrapper  slideOut borderLeft" [ngClass]="{'slideIn': globalservice.memberListOpen}">
        <app-memberlist [many]="true"></app-memberlist>
    </div>

    <div class="confirmation slideOutRight" [ngClass]="{'slideInRight': showConfrim}">
        <!-- <p>{{confirmation}}</p> -->
        <div class="confirmState">
            <p>Aktion erfolgreich</p>
            <img src="./icons/done.svg" alt="">
        </div>

        <div class="divider"></div>
        <span>{{confirmation}}</span>
    </div>

    <div *ngIf="globalservice.isoverlay" class="overlay"></div>
            <div class="formDialog dialogSlideOut " [ngClass]="{'dialogSlideIn': globalservice.taskWrapperOpen}">
                <app-taskwrapper></app-taskwrapper>
            </div>

            <div class="formDialog dialogSlideOut" [ngClass]="{'dialogSlideIn': globalservice.contactWrapperOpen}">
                <app-contactwrapper></app-contactwrapper>
            </div>
            <div class="formDialog activityForm dialogSlideOut" [ngClass]="{'dialogSlideIn': globalservice.activityWrapperOpen}">
                <app-activitywrapper></app-activitywrapper>
            </div>
    <div class="formDialog dialogSlideOut" [ngClass]="{'dialogSlideIn':globalservice.dealwrapperOpen}">
        <app-dealwrapper></app-dealwrapper>
    </div>
</section>