.subtasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    // border:var(--borderstyle);
    // border-radius: var(--radius);
    // padding: 24px;
    position: relative;
}

.subheadline {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--border);

    >img {
        width: 16px;
    }
}

.subtaskList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtaskRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    position: relative;
    background-color: white;
    cursor: grab;

    .inputfield {
        height: 40px;
    }

    // .memberDot {
    //     min-width: 16px;
    //     min-height: 16px;
    // }
}



.counter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 4px;

    >p {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
    }
}

.inputAndTagCont {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;

    .memberDot {
        position: absolute;
        min-width: 6px;
        height: 100%;
        left: 0px;
    }
}

.subtaskMenu {
    display: flex;
    align-items: center;
    gap: 16px;
}

.addAssignee {
    cursor: pointer;

    >img {
        width: 18px;

    }
}

.assigneeList {

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 48px;
    right: 0;
    padding: 12px 24px;
    background-color: var(--box-light);
    border-radius: 4px;
    backdrop-filter: blur(10px);
}

.assigneeListRow {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: var(--listrow-hover);
    }

    .memberDot {
        min-width: 20px;
        min-height: 20px;
    }
}

.opacity {
    opacity: 0;
}

.deleteCont {
    cursor: pointer;

    >img {
        width: 18px;
        display: block !important;
        opacity: 1 !important;
    }
}

.deleteWrapper {
    width: 100%;
    max-width: 500px;
    padding: 24px;
    background-color: white;
    border: var(--borderstyle);
    border-radius: var(--radius);
    z-index: 1;
}

.light {
    opacity: 0.3;
}