<section class="">


    <div class="companyHeader">
        <div class="companyName">
            <div class="profileIcon">
                <img src="./icons/building.svg" alt="">
            </div>
            <div class="customertitle">
                <h1>{{customer?.companyname}}</h1>
                <input (change)="updateCustomer()" name="branch" type="text" placeholder="Branche"
                    [(ngModel)]="customer.branch" name="" id="">
            </div>

        </div>

        <div class="navBtns">
              <div (click)="changeFolder('orders')">
                <h4>Dashboard</h4>
            </div>
            <div (click)="changeFolder('activities')">
                <h4>Aktivitäten</h4>
            </div>
            <div (click)="changeFolder('contacts')">
                <h4>Kontakte</h4>
            </div>
            <!-- <div (click)="changeFolder('tasks')">
                <h4>Aufgaben</h4>
            </div> -->
            <div (click)="globalservice.navigateToPath(['main', 'singlecustomer', customerID, 'tasklist'], {sidebarOpen:true})">

                <h4>Aufgaben</h4>
            </div>
            <div (click)="changeFolder('orders')">
                <h4>Aufträge</h4>
            </div>
        </div>
        <div class="actionBtns">
            <div *ngIf="!isEdit" class="menuBtn" (click)="globalservice.taskWrapperOpen=true; globalservice.isSubtaskWrapper=false;">
                <img src=" ./icons/tasks.svg" alt="">
            </div>
            <div *ngIf="!isEdit" class="menuBtn" (click)="isOpen=true">
                <img src=" ./icons/contact.svg" alt="">
            </div>
            <div *ngIf="!isEdit" class="menuBtn" (click)="isOpen=true">
                <img src=" ./icons/trash.svg" alt="">
            </div>
            <div *ngIf="!isEdit" class="menuBtn" (click)="isOpen=true">
                <img src=" ./icons/trash.svg" alt="">
            </div>
            <div *ngIf="!isEdit" class="menuBtn" (click)="isOpen=true">
                <img src=" ./icons/trash.svg" alt="">
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="customerFile">

        <!-- CUSTOMER -->
        <div class="customerProfile">

            <div class="customeInfos">

                <div class="adressCont">
                    <h4>Postanschrift</h4>
                    <input (change)="updateCustomer()" name="street" placeholder="Straße" [(ngModel)]="customer.street"
                        type="text">
                    <div class="cityCont">
                        <input (change)="updateCustomer()" name="areacode" [(ngModel)]="customer.areacode" type="text">
                        <input (change)="updateCustomer()" name="city" [(ngModel)]="customer.city" type="text">
                    </div>
                </div>
                <div class="contactCont">
                    <h4>Kontaktdaten</h4>
                    <div class="contactData">
                        <img src="./icons/mail.svg" alt="">
                        <input (change)="updateCustomer()" name="email" [(ngModel)]="customer.email" type="text">

                    </div>
                    <div class="contactData">
                        <img src="./icons/phone.svg" alt="">
                        <input (change)="updateCustomer()" name="phone" [(ngModel)]="customer.phone" type="text">

                    </div>

                </div>
                <div class="textFieldCont">
                    <h4>Beschreibung</h4>
                    <textarea (change)="updateCustomer()" [(ngModel)]="customer.description" name="" id=""></textarea>
                </div>
                <div class="textFieldCont">
                    <h4>Notizen</h4>
                    <textarea (change)="updateCustomer()" [(ngModel)]="customer.notes" name="" id=""></textarea>
                </div>
                <div class="informationCont">
                    <h4>Information:</h4>
                    <p>erstellt von: {{customer?.creator}} am {{customer?.created_at | date: 'dd.MM.yyyy : HH:mm'}}
                        Uhr
                    </p>
                    <p *ngIf="customer.editor">zuletzt geändert durch {{customer?.editor}} am {{customer?.updated_at
                        |
                        date: 'dd.MM.yyyy: HH:mm'}} Uhr </p>
                </div>

            </div>
        </div>
        <!-- <div class="verticaldivider"></div> -->

        <!-- BOARD -->
        <div class="customerBoard">
      
           <router-outlet></router-outlet>
        </div>



        <!-- SIDEBAR -->
        <!-- <div class="customerSidebar"></div> -->
    </div>

    <div class="taskFormWrapper slideOut" [ngClass]="{'slideIn': globalservice.taskWrapperOpen}">
        <app-taskwrapper></app-taskwrapper>
    </div>


    <div *ngIf="isOpen" class="deleteWrapper border">
        <div *ngIf="!isDelete">
            <p>Wollen Sie den Kunden</p>
            <h3>- {{customer?.companyname}} -</h3>
            <p>wirklich löschen?</p>
        </div>
        <p *ngIf="isDelete">Kunde wurde gelöscht</p>
        <div *ngIf="!isDelete" class="btnCont">
            <button (click)="isOpen=false">Abbrechen</button>
            <button (click)="deleteCustomer()">Löschen</button>
        </div>
    </div>
</section>