.taskSidebar {
    width: 100%;
    max-width: 500px;
   min-width: 400px;
    height: calc(100vh - 268.5px);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 32px;

    border-left: solid 0.5px var(--border);
    overflow: hidden;
}

.sidabarNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;

    >div {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--box-light);
        border-radius: 4px;
        cursor: pointer;
    }
}

.btnHlgt {
    color: white !important;
    background-color: var(--box) !important;
}

.sidebarList {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
}
.commentCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    position: relative;

    >p {
        width: 100%;
    }

    >img {
        position: absolute;
        bottom: 8px;
        right: 8px;
        width: 16px;
        cursor: pointer;
    }

}

.commentsRow {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--box-light);
    position: relative;

    >textarea {
        border: none;
        padding: 0;
        min-height: 50px;

    }

    >img {
        width: 18px;
        position: absolute;
        bottom: 12px;
        right: 12px;
    }
}

.bottemLine {
    >img {
        position: absolute;
        bottom: 8px;
        right: 8px;
        width: 16px;
        cursor: pointer;
    }
}

.commentInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--box-light);
    padding: 12px;
    border-radius: 4px;
}