<section>
    <div class="acitvityForm">
        <h3>Neue Aktivität</h3>
        <div class="divider"></div>

        <p *ngIf="customer" class="customername">{{customer?.companyname}}</p>
        <!-- Search -->
        <div class="inputCont" *ngIf="!glo.checkURL('singlecontact') && !contact">
            <h4>Kontak wählen</h4>
            <div class="inputfield">
                <input name="customer" (change)="searchCustomer()" #customer="ngModel" type="text"
                    [(ngModel)]="searchValue" placeholder="Kontakt auswählen">
                <img src="./icons/search.svg" alt="">

            </div>
            <!-- resultlist -->
            <div *ngIf="isloaded" class="resultList">
                <app-contactlistwrapper [contacts]="contacts"
                    (selectedContact)="setContact($event)"></app-contactlistwrapper>
            </div>
        </div>


        <!-- contactCard -->
        <div *ngIf="contact" class="contactCard">
            <div class="contactInfo">
                <img src="./icons/contactprofile.svg" alt="">
                <div class="contactInfos">
                    <p>{{contact?.name}}</p>
                    <p>{{contact.email}}</p>
                    <!-- <p>{{contact?.customer.companyname}}</p> -->
                </div>

            </div>
            <div *ngIf="!glo.checkURL('singlecontact')" class="removeBtn" (click)="resetContact()">
                <img src="./icons/close.svg" alt="">
            </div>

        </div>

        <!-- form -->
        <form *ngIf="customer && contact" #createActivityForm="ngForm" (ngSubmit)="checkValidation(createActivityForm)">
            <div class="inputCont">
                <div class="inputfield">
                    <input #title="ngModel" name="title" type="text" [(ngModel)]="activity.title"
                        placeholder="Kurzbeschreibung" required maxlength="45">
                </div>
                <div *ngIf="title.invalid && title.touched" class="errorTxt">
                    <p>*Pflichtfeld</p>
                </div>
            </div>
            <div class="typeChoiceBtns">
                <div class="typeChoices">
                    <div class="typeBtn" (click)="changeActivityType('call')"
                        [ngClass]="{'tabActive': activity.type==='call'}">
                        <p>Anruf</p>
                    </div>
                    <div class="typeBtn" (click)="changeActivityType('email')"
                        [ngClass]="{'tabActive': activity.type==='email'}">
                        <p>E-Mail</p>
                    </div>
                    <div class="typeBtn" (click)="changeActivityType('invite')"
                        [ngClass]="{'tabActive': activity.type==='invite'}">
                        <p>Besuch</p>
                    </div>
                    <div class="typeBtn" (click)="changeActivityType('video')"
                        [ngClass]="{'tabActive': activity.type==='video'}">
                        <p>VideoCall</p>
                    </div>
                </div>
                <div class="errorTxt">
                    <p *ngIf="typeInvalid">*Pflichtfeld</p>
                </div>

            </div>


            <div class="inputCont">
                <h4>Start</h4>
                <div class="inputfield">
                    <input #date="ngModel" type="datetime-local" [(ngModel)]="activity.date" name="date" required>
                </div>
                <div class="errorTxt">
                    <p *ngIf="date.invalid && date.touched">*Pflichtfeld</p>
                </div>
            </div>

            <div class="inputCont">
                <h4>Beschreibung</h4>
                <textarea #description="ngModel" [(ngModel)]="activity.description" name="description" id=""
                    required></textarea>
                <div class="errorTxt">
                    <p *ngIf="description.invalid && description.touched">*Pflichtfeld</p>
                </div>
            </div>

            <div class="btnCont">
                <button (click)="resetForm(createActivityForm)" type="button">Abbrechen</button>
                <button type="submit" (click)="action='save'">Speichern</button>
                <!-- <button type="submit" (click)="action='save_and_nav'">Speichern & Öffnen</button> -->
            </div>
        </form>
    </div>

    <!-- <div  class="formWrapper slideOut" [ngClass]="{'slideIn': contactListOpen}">
        <app-contactlistwrapper *ngIf="customerID"></app-contactlistwrapper>
    </div> -->
</section>