section {
    width: 100%;
    height: 100%;
    padding: 24px;
}

.acitvityForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 500px;
}

.typeChoiceBtns {
    width: 100%;
    margin-block: 12px;
}

.typeChoices {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;

    .typeBtn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        // background-color: var(--box);
        border: solid 1px var(--border);
        cursor: pointer;
        border-radius: 4px;
    }
}

.contactChoice {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
     margin-block: 12px;
}

.currentContact {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--box-light);
    padding: 6px;
    border-radius: 4px;

    >img {
        width: 30px;
    }
}

.tabActive {
    background-color: var(--border) !important;
    color: white !important;
}

.contactListWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    padding: 24px;
}

.contactList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contactListRow {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--box-light);
    cursor: pointer;

    >img {
        width: 40px;
    }

    &:hover {
        background-color: var(--listrow-hover);
    }
}

.contactInfos {
    :nth-child(1) {
        font-weight: 400;
    }

    display: flex;
    flex-direction: column;
    gap: 4px;
}