<section>
    <div class="acitvityForm">
        <h3>Neue Aktivität</h3>
        <div>
            <div class="typeChoices">
                <div class="typeBtn" (click)="changeActivityType('call')"
                    [ngClass]="{'tabActive': activity.type==='call'}">
                    <p>Anruf</p>
                </div>
                <div class="typeBtn" (click)="changeActivityType('email')"
                    [ngClass]="{'tabActive': activity.type==='email'}">
                    <p>E-Mail</p>
                </div>
                <div class="typeBtn" (click)="changeActivityType('invite')"
                    [ngClass]="{'tabActive': activity.type==='invite'}">
                    <p>Besuch</p>
                </div>
                <div class="typeBtn" (click)="changeActivityType('video')"
                    [ngClass]="{'tabActive': activity.type==='video'}">
                    <p>VideoCall</p>
                </div>
            </div>
            <div class="errorTxt">
                <p *ngIf="typeInvalid">*Pflichtfeld</p>
            </div>

        </div>
        <div *ngIf="isSingleContact===false" class="contactChoice">
            <button (click)="openContactList()">Kontakt wählen</button>
            <div *ngIf="contact" class="currentContact">
                <img src="./icons/contactprofile.svg" alt="">
                <p>{{contact?.name}}</p>
                
            </div>
            <div *ngIf="noContact===true" class="errorTxt">
                <p>*Kontakt wählen</p>
            </div>
        </div>


        <form #createActivityForm="ngForm" (ngSubmit)="checkValidation(createActivityForm)">


            <div class="inputCont">
                <h4>Start</h4>
                <div class="inputfield">
                    <input #date="ngModel" type="datetime-local" [(ngModel)]="activity.date" name="date" required>
                </div>
                <div class="errorTxt">
                    <p *ngIf="date.invalid && date.touched">*Pflichtfeld</p>
                </div>
            </div>

            <div class="inputCont">
                <h4>Beschreibung</h4>
                <textarea #description="ngModel" [(ngModel)]="activity.description" name="description" id=""
                    required></textarea>
                <div class="errorTxt">
                    <p *ngIf="description.invalid && description.touched">*Pflichtfeld</p>
                </div>
            </div>

            <div class="btnCont">
                <button (click)="resetForm(createActivityForm)" type="button">Abbrechen</button>
                <button type="submit">Speichern</button>
            </div>
        </form>
    </div>

    <div class="contactListWrapper slideOut" [ngClass]="{'slideIn': contactListOpen===true}">
        <h3>Kontaktliste</h3>
        <div class="divider"></div>
        <div class="inputfield">
            <input type="text" placeholder="Name oder E-Mail-Adresse">
            <img src="./icons/search.svg" alt="">
        </div>
        <div class="contactList">
            <div class="contactListRow" *ngFor="let contact of contacts, let index=index" (click)="setContact(index)">
                <img src="./icons/contactprofile.svg" alt="">
                <div class="contactInfos">
                    <p>{{contact.name}}</p>
                    <p>{{contact.email}}</p>
                </div>

            </div>

        </div>
    </div>
</section>