section {
    width: 100%;
    height: 100%;
    padding: 24px;
}

.acitvityForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 500px;
}

.typeChoices {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;

    .typeBtn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        // background-color: var(--box);
        border: solid 1px var(--border);
        cursor: pointer;
        border-radius: 4px;
    }
}

.tabActive {
    background-color: var(--border) !important;
    color: white !important;
}