section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
}

.memberList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
    margin-top: 12px;
}

.memberListRow {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
>p{
    font-size: 18px;
}
    >img {
        width: 50px;

    }

    &:hover{
        background-color: var(--box-light);
    }
}