section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.memberList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
    margin-top: 12px;
}

.memberListRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--box-light);
    cursor: pointer;



    &:hover {
        background-color: var(--listrow-hover);
    }
}

.memberInfo {
    display: flex;
    align-items: center;
    gap: 16px;
    >img {
        width: 40px;

    }

    >p {
        font-size: 18px;
    }
}