section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.boardHeader {
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-bottom: solid 1px var(--border);
}

.navBtns {
  display: flex;
  gap: 16px;
}

.board {
  display: flex;
  gap: 16px;
  padding: 24px;
  height: calc(100vh - 250px);
  overflow: hidden;
  // position: relative;
}



.board-column {

  width: 100%;
  border-radius: 4px;

  // padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-height: 100%;
  transition: background-color 0.3s ease-in-out;
  overflow-y: scroll;
  // &:hover{
  //   background-color: var(--box-light);
  // }
}



.board-column h3 {
  width: 100%;
  z-index: 1;
  // margin-bottom: 16px;
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--box);
  color: white;
  position: sticky;
  top: 0;
  padding: 6px;
  border-radius: 4px;
  // border-bottom: solid 1px var(--border);
}


.taskCard {
  min-height: 180px;
  width: 96%;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--box-light);
  cursor: move;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;

}

.topLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  >h4 {
    font-size: 18px;
  }
}

.prioIcon {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  >img {
    width: 40px;
  }
}

.duedate {
  display: flex;
  align-items: center;
  gap: 8px;

  >p {
    margin-top: 2px;
    font-weight: 400;
  }

  >img {
    width: 20px;
  }
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 8px;

  >p {
    margin-top: 2px;
    font-weight: 400;
  }

  >img {
    width: 20px;
  }

}

.subtaskCountCont {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 16px;
>img{
  width: 24px;
}
  >p {
    font-size: 16px;
  }
}

.subtaskCount {
  display: flex;

  >p {
    font-size: 16px;
  }
}

.CheckListCount {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 16px;

  >p {
    font-size: 16px;
  }
}
.checkbox{
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--border);
  border-radius: 4px;
>img{
  width: 16px;
}
}
.greenLine{
  background-color: var(--greenLine) !important;
}

.countLine {
  width: 100%;
  height: 6px;
  max-width: 300px;
  border: solid 0.5px var(--border);
  border-radius: 100px;
  position: relative;
}

.countLineInner {
  height: 100%;
  background-color: var(--border);

}

.bottomLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.cdk-drag-preview {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.cdk-drag-placeholder {
  // background-color: #e0e0e0;
  border-radius: 6px;
}

.releasesWrapper {
  position: absolute;
  top: 120px;
  right: 0;
  width: 100%;
  max-width: 500px;
  height: calc(100vh - 202px);
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-left: solid 0.5px var(--border);
  background-color: white;
  z-index: 1;
}

.wrapperHeadline {
  width: 100%;
  height: 72px;
  padding: 12px;
}

.releasesList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  overflow-y: scroll;
}