<section>
  <div class="boardHeader">
    <h1 *ngIf="boardKey==='assigned'">Meine Aufgaben</h1>
    <h1 *ngIf="boardKey==='reviewed'">Meine Reviews</h1>
    <h1 *ngIf="boardKey==='releases'">Meine Freigaben</h1>
    <div class="navBtns">
      <button (click)="loadTasks(user.id, 'assigned'); changeList('assigned')">Meine Aufgaben</button>
      <button (click)="loadTasks(user.id, 'reviewed'); changeList('reviewed')">Meine Reviews</button>
      <button (click)="toggleReleasesWrapper()">Freigaben</button>
    </div>
  </div>


  <div *ngIf="boardKey!=='releases'" class="board">
    <ng-container *ngFor="let column of columns">
      <div class="board-column" cdkDropList [id]="column.id" #list="cdkDropList" [cdkDropListData]="board[column.key]"
        [cdkDropListConnectedTo]="connectedLists(column.id)" (cdkDropListDropped)="drop($event, column.key)">

        <h3>{{ stateLabels[column.key] }}</h3>
        <div class="taskCard" *ngFor="let task of board[column.key] let index=index" cdkDrag [cdkDragData]="task"
          (click)="openTaskInCustomer(task)">

          <div class="topLine">
            <h4>{{ task.title }}</h4>
            <div class="duedate">
              <img src="./icons/duedate.svg" alt="">
              <p>{{task.due_date | date: 'dd.MM.yyyy'}}</p>


            </div>
          </div>
          <div class="divider"></div>
          <!-- <p class="textfield">{{task.description}}</p> -->



          <div class="midLine">


            <div *ngIf="task.subtasks.length !==0" class="subtaskCountCont">
              <div class="checkbox">
                <img src="./icons/done.svg" alt="">
              </div>

              <div class="countLine">
                <div class="countLineInner greenLine"
                  [style.width.%]="globalservice.countSubtasksDone(index, board[column.key],'percentage')"></div>
              </div>
              <div class="subtaskCount">

                <p>{{globalservice.countSubtasksDone(index, board[column.key],'')}}</p>
                <p>/</p>
                <p>{{task.subtasks?.length}}</p>
              </div>

            </div>

            <div class="members">
              <div class="memberDot" [style.backgroundColor]="member.profile.color"
                *ngFor="let member of task.members let index = index">
                <p>{{member.profile.initials}}</p>
              </div>
            </div>
          </div>

          <div class="bottomLine">
            <div class="company">
              <div class="companyIcon">
                <img src="./icons/building.svg" alt="">
              </div>
              <p>{{task.customer.companyname}}</p>
            </div>

            <div class="prioIcon">
              <img *ngIf="task.priority==='low'" src="./icons/low.svg" alt="">
              <img *ngIf="task.priority==='mid'" src="./icons/mid.svg" alt="">
              <img *ngIf="task.priority==='high'" src="./icons/high.svg" alt="">
            </div>

          </div>

        </div>

      </div>
    </ng-container>

    <div (mouseleave)="toggleReleasesWrapper()" class="releasesWrapper slideOut"
      [ngClass]="{'slideIn': releasesWrapperOpen}">
      <div class="wrapperHeadline">
        <h3>Freigaben</h3>

      </div>
      <div class="divider"></div>
      <div class="releasesList">
        <p *ngIf="releases.length===0">- Aktuell keine Freigaben -</p>
        <div class="taskCard" *ngFor="let task of releases, let index=index" (click)="openTaskInCustomer(task)">
          <!--  -->
          <div class="topLine">
            <h4>{{ task.title }}</h4>
            <div class="duedate">
              <img src="./icons/duedate.svg" alt="">
              <p>{{task.due_date | date: 'dd.MM.yyyy'}}</p>


            </div>
          </div>
          <div class="divider"></div>
          <!-- <p class="textfield">{{task.description}}</p> -->



          <div class="midLine">


            <div *ngIf="task.subtasks.length !==0" class="subtaskCountCont">
              <div class="checkbox">
                <img src="./icons/done.svg" alt="">
              </div>

              <div class="countLine">
                <div class="countLineInner greenLine"
                  [style.width.%]="globalservice.countSubtasksDone(index, releases,'percentage')"></div>
              </div>
              <div class="subtaskCount">

                <p>{{globalservice.countSubtasksDone(index, releases,'')}}</p>
                <p>/</p>
                <p>{{task.subtasks?.length}}</p>
              </div>

            </div>

            <div class="members">
              <div class="memberDot" [style.backgroundColor]="member.profile.color"
                *ngFor="let member of task.members let index = index">
                <p>{{member.profile.initials}}</p>
              </div>
            </div>
          </div>

          <div class="bottomLine">
            <div class="company">
              <div class="companyIcon">
                <img src="./icons/building.svg" alt="">
              </div>
              <p>{{task.customer.companyname}}</p>
            </div>

            <div class="prioIcon">
              <img *ngIf="task.priority==='low'" src="./icons/low.svg" alt="">
              <img *ngIf="task.priority==='mid'" src="./icons/mid.svg" alt="">
              <img *ngIf="task.priority==='high'" src="./icons/high.svg" alt="">
            </div>

          </div>




          <!--  -->


        </div>
      </div>

    </div>
  </div>



</section>