section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.boardHeader {
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border-bottom: solid 1px var(--border);
}

.navBtns {
  display: flex;
  gap: 16px;
}

.board {
  display: flex;
  gap: 16px;
  padding: 24px;
  height: calc(100vh - 250px);
  overflow: hidden;
}



.board-column {

  width: 100%;
  border-radius: 4px;
  min-height: 300vh;
  // padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-height: 100%;
  transition: background-color 0.3s ease-in-out;
  overflow-y: auto;
  // &:hover{
  //   background-color: var(--box-light);
  // }
}



.board-column h3 {
  width: 100%;
z-index: 1;
  // margin-bottom: 16px;
  font-size: 1.2rem;
  text-align: center;
  background-color:var(--box);
  color: white;
  position: sticky;
  top: 0;
  padding: 6px;
  border-radius: 4px;
  // border-bottom: solid 1px var(--border);
}


.taskCard {
  min-height: 180px;
  width: 96%;
  border-radius: 6px;
  padding: 12px;

  background-color: var(--box-light);
  cursor: move;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;

}

.prioIcon {
  position: absolute;
  top: 8px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  >img {
    width: 40px;
  }
}

.subtaskCountCont {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 16px;

  >p {
    font-size: 16px;
  }
}

.subtaskCount {
  display: flex;

  >p {
    font-size: 16px;
  }
}

.countLine {
  width: 100%;
  height: 6px;
  max-width: 300px;
  border: solid 0.5px var(--border);
  border-radius: 100px;
  position: relative;
}

.countLineInner {
  height: 100%;
  background-color: var(--border);

}



.cdk-drag-preview {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.cdk-drag-placeholder {
  // background-color: #e0e0e0;
  border-radius: 6px;
}