section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.messageList{
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
}

.messageCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--box-light);
    padding: 24px;
    border-radius: 4px;
 
}

.title{
    display: flex;
    align-items: center;
    gap: 8px;
}

.cardHeadline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardAction{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  
}

.btnCont{
    height: fit-content;
    justify-content: flex-end;
    padding: 0;
 >button{
        min-width: 40px;
        max-width: 40px;
        height: 20px;
        background-color: transparent;
        border: solid 0.5px var(--border);
        >img{
            width:16px;
            // filter: invert(100%);
            opacity: 0.2;
        }
    }
}

.newBatch{
width: 10px;
height: 10px;
background-color: var(--box);
border-radius: 100px ;
}