<section>

    <h3>Kontaktliste</h3>
    <div class="divider"></div>
    <div class="inputfield">
        <input type="text" placeholder="Name oder E-Mail-Adresse">
        <img src="./icons/search.svg" alt="">
    </div>
    <div class="contactList">
        <div class="contactListRow" *ngFor="let contact of contacts, let index=index" (click)="setContact(index)">
            <img src="./icons/contactprofile.svg" alt="">
            <div class="contactInfos">
                <p>{{contact.name}}</p>
                <p>{{contact.email}}</p>
            </div>

        </div>

    </div>

</section>