section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  
    padding: 24px;
}

.contactList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contactListRow {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--box-light);
    cursor: pointer;

    >img {
        width: 40px;
    }

    &:hover {
        background-color: var(--listrow-hover);
    }
}

.contactInfos {
    :nth-child(1) {
        font-weight: 400;
    }

    display: flex;
    flex-direction: column;
    gap: 4px;
}