.listMenuCont {
    width: 100%;
}

.listmenu {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 16px;
    padding: 24px;

    .searchField {
        width: 500px;
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .menufields {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;



        .navigation {
            width: 120px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border: var(--borderstyle);
            border-radius: var(--radius);

            >p {
                width: 100px;
                display: flex;
                justify-content: center;
            }

            :nth-child(1) {
                >img {
                    transform: rotate(180deg);
                }
            }

            >button {
                min-width: 30px !important;
                max-width: 50px !important;
                background-color: transparent;

                >img {
                    width: 20px;
                }
            }
        }
    }
}




.timeFilter {
    display: flex;
    gap: 32px;

    .inputCont {
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    >button {
        min-width: 100px !important;
        max-width: 100px !important;
        min-height: 30px !important;
        max-height: 30px !important;

        >img {
            filter: invert(100%);
        }
    }
}